@import 'mixins.scss';
@import 'variables.scss';

.gallery {
    
    &__row {
        flex-wrap: wrap;
    }
    
    .gallery-img-wrapper {
        flex: 1 1 25%;
        
        img {
            width: 100%;
            height: 100%;
        }
    }
}


@media all and (max-width: 768px) {
    
    .gallery {  
        .gallery-img-wrapper {
            flex: 1 1 50%;
        }
        
    }
    
}



