@import 'mixins.scss';
@import 'variables.scss';


.about {
    
    &__row {
        justify-content: center;
        padding-top: 74px;
        padding-bottom: 126px;
    }
    
    &__description {
        margin-right: 90px;
    }
    
    .about__img-wrapper {
        .img-wrapper__elem {
            right: 0;
//            transform: translate(-22.5%);
        }
    }
}


.mobile-block {
    display: none;
}

@media all and (max-width: 900px) {
    .about {
        
        &__row {
            padding-bottom: 80px;
        }
        
        img {
            display: none;
        }
        
    .img-wrapper {
        display: none;
        &__elem {
            display: none;
        }
    }
        .description {
            margin-right: 0;
            flex: 0 1 90%;
        }
        
        .mobile-block {
            display: block;
            height: 250px;
            background: url(../images/about-img.jpg) no-repeat right/cover;
        }
    }
         
}
