@import 'mixins.scss';
@import 'variables.scss';

.specialties {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.6)),url(../images/specialtys_2-bg.jpg) center/cover;
    width: 100%;
    padding-bottom: 55px;
    bottom: 0;
    position: relative;

    &__subtitle {
        color: white;
        padding: 45px 0;
    }
    
    &__description {
        color: white;
    }
    
    &__row {
        min-width: 0;
    }
    
    .specialties__img-wrapper {
        display: flex;
        justify-content: flex-end;
        .img-wrapper__elem {
            left: 0;
        }
    }
    
    &__description {
        margin-left: 90px;
    }
}


@media all and (max-width: 900px) {
    .specialties {
        
        img {
            display: none;
        }
        
        .img-wrapper {
            display: none;
            &__elem {
                display: none;
            }
        }
        
        .description {
            flex: 0 1 90%;
            margin-left: 0;
            
        }
        
    }
    
    .slider__item {
        display: flex;
        justify-content: center;
    }
}
